html {
    font-family: 'sans', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    align-items: center;
}

button {
    cursor: pointer;
}

.nav-items {
    display: flex;
    gap: 50px;
}


.nav-items li {
    list-style: none;
    padding: 10px;
}

.nav-items li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.li-items span {
    margin-right: 5px;
    font-size: 3erm;
}

.logo-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-div img {
    height: 100px;
}


/* BODY */

.shimmer-cards-container {
    display: grid;
    padding: 0px 20px;
    margin: 10px;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

.shimmer-card {
    padding: 10px;
    margin: 10px;
    width: auto;
    height: 400px;
    background-color: rgb(243, 248, 248);
}


.body-nav-item-container {
    display: flex;
    align-items: center;
}

.body-nav-item-container * {
    margin: 1px;
    padding: 10px;
}


.filter-btn {
    margin: 10px;
    padding: 10px;
}


.restaurants-card-container {
    display: grid;
    /* padding: 0px 20px; */
    margin: 10px;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));

}

.res-card {
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: auto;
    /* background-color: rgb(243, 248, 248); */
}




.res-card:hover {
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.95);
}

.res-card img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}


#res-link {
    text-decoration: none;
    color: black;
}

.cuisine-container {
    white-space: nowrap;
    overflow-x: hidden;
}








/* -----------------------CART-------------------------- */

.cart {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    /* justify-content: space-evenly; */
}

.address-payment-container {
    display: flex;
    flex-direction: column;
}


/* --------------------------Delivery Adderess Component -------------------*/

.adderess-container {
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
    /* width: 100%; */
}

#change-adderess-btn {
    background-color: transparent;
    border: none;
    color: orange;
    font-weight: bolder;
    padding: 0;
}




/* --------------------------Payment Component------------------------------ */

.payment-container {
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
}

#ptc-btn {
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    border: none;
}



/* ---------------------------restaurant_dishes_bill Component--------------- */



.cart-detail-container {
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;

}


/* __________Res Details component___________ */

.res-detail-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.res-image img {
    height: 50px;
    width: 50px;
    padding: 10px;
    /* margin: 10px; */
}



#res-title h3 {
    margin: 0px;
}


/* _________ dish card container__________*/


.dishcard-container {
    width: 100%;
    height: 400px;
    /* text-wrap: nowrap; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: 10px;
    /* padding: 10px; */
    border-bottom: 5px solid black;
    margin-bottom: 10px;
}


/* _________________Dish Card_______ */

.dish-card {
    display: flex;
    align-items: start;
    /* justify-content: center; */

    gap: 10px;
    margin: 5px;
    padding: 5px;
}

.food-indicator {
    height: 15px;
    width: 15px;
    /* margin: 0; */
    /* border: 2px solid green; */
    /* border-radius: 50%; */
}

.vegOuterDiv {
    border: 2px solid green;
    margin: 0px;
}

.vegInnerCircle {
    background-color: green;
}

.nonVegOuterDiv {
    border: 2px solid red;
    margin: 0px;
}

.nonVegInnerCircle {
    background-color: red;
}

#circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 2px;
}

.quantity-controller {
    text-wrap: nowrap;
}


/* ---------------------------MENU Component--------------- */


.accordion {
    /* max-width: 600px; */
    margin: 2rem auto;
    width: 58%;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bolder;
    font-style: normal;
    background-color: #f5f5f5;
}



.accordion-title,
.accordion-content {
    padding: 1rem;
}



@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }

    .accordion {
        width: 90%;
    }
}


.menu-dish-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.menu-dish-card div {
    display: flex;
    flex-direction: column;
    /* margin: 5px; */
    gap: 5px;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 3px;
}

.slider.round:before {
    border-radius: 3px;
}

.slider::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    left: 27px;
    bottom: 7px;
    border-radius: 50%;
    background-color: green;
    -webkit-transition: 1s;
    transition: 1s;
    display: none;
}

input:checked+.slider {
    background-color: green;
}


input:focus+.slider {
    box-shadow: 0 0 1px green;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);

}

input:checked+.slider::after {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);

    display: block;
}

.rating-rating-count-container {
    /* font-size: smaller; */
    /* height: 40px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px
}

.rating-rating-count-container h5 {
    border-bottom: 1px solid black;
    margin: 5px;
}

.rating-rating-count-container span {
    font-size: xx-small;
    /* border-top: 1px solid black; */
    margin: 5px;
}

.veg-only-switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.veg-only-switch-container p {
    font-size: small;
    font-weight: bold;
}

.menu-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    /* align-items: center; */

}

.res-name-add-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.res-name-add-div span {
    color: grey;
    font-size: small;
}

.res-name-add-div h3 {
    padding: 0;
    margin: 0;
}

.restaurantdetails-header-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* align-items: flex-start; */
    /* background-color: aliceblue; */
}

.restaurantdetails-header-container-div1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px dashed black;
    margin-left: 22%;
    margin-right: 22%;
    padding: 10px;
    /* width: 70%; */
}

.restaurantdetails-header-container-div2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    margin-left: 22%;
    margin-right: 22%;
    padding: 10px;
}

.food-img-container img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
}

.dish-description-container {
    font-size: smaller;
    color: gray;
}